<p>dashboard works!</p>
<button mat-button>Hello</button>
<mat-card>This a Dashboard</mat-card>
<p>
    <mat-form-field style="width: 35%;margin-right: 5%;line-gap-override: 5%;">
      <input mat raised button matInput placeholder="name">
      <mat-icon matSuffix></mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field apperance="style">
      <mat-label>Standard form field</mat-label>
      <input matInput placeholder="Details">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Fill form field</mat-label>
      <input type="password" matInput placeholder="security pin">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <mat-radio-group aria-label="Select an area">
    <mat-radio-button value="1">chennai</mat-radio-button>
    <mat-radio-button value="2">thirunelveli</mat-radio-button>
    <mat-radio-button value="3">coimbatoor</mat-radio-button>
    <mat-radio-button value="4">bangalore</mat-radio-button>

   
  </mat-radio-group>
  <p>
    <mat-form-field>
    <a routerLink='../institute;'><button mat-raised-button style="width:35%;color: black;background-color: red;">Login</button></a>
    </mat-form-field>